
body
{
    font-family: Cambria, sans-serif;
}
svg{
    border: 2px solid #bbb
}
.x line {
    stroke: wheat
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  outline: #918d8d;
  fill:  "white";
}



circle {stroke: black;}
button
{
    outline: #918d8d;
    color: #bbb;
    border-color: #eee;
    padding: 2px 8 px;
    font-family: 'Courier New', Courier, monospace;
    transition: all 3s00ms;
    cursor: pointer;

}
button:hover {
    background: #f7f7f7;
  }
  
  button:focus {
    background: #686866
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  