
body
{
    font-family: Cambria, sans-serif;
}
svg{
    border: 2px sodid #bbb
}
.x line {
    stroke: wheat
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
circle {stroke: black;}
button
{
    outline: #918d8d;
    color: #bbb;
    border-color: #eee;
    padding: 2px 8 px;
    font-family: 'Courier New', Courier, monospace;
    transition: all 3s00ms;
    cursor: pointer;

}
button:hover {
    background: #f7f7f7;
  }
  
  button:focus {
    background: #A66
  }
  